[submodule "recipes"]
	path = recipes
	url = https://github.com/ferdium/ferdium-recipes.git
	ignore = all
	branch = main
[submodule "themes"]
	path = themes
	url = https://github.com/specialaro/ferdium-themes
